{% extends "base.html" %}

{% block title %}
  Список заявок
{% endblock %}

{% block content %}
  {% for item in list %}
    <div>
      <div>
        {{ item.id }}, {{ item.title }}, {{ item.price }}, {{ item.description }}, {{ item.comment }}
        <br>
        <a href="{% url 'contest:edit' item.id %}">Редактировать заявку</a>
        |
        <a href="{% url 'contest:delete' item.id %}">Удалить заявку</a>
      </div>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}